@using Jobby.Client.ViewModels.Board
@model CreateBoardViewModel

<div class="w-full max-w-md m-8 border-1 border-gray-900 h-max p-8 flex flex-col gap-y-4 bg-gray-50">
    <h1 class="text-2xl font-semibold">Create Board</h1>
    <form asp-controller="Board" asp-action="Create" class="flex flex-col gap-6" method="post">
        <div class="flex flex-col gap-y-3">
            <label asp-for="Name" class="text-base"></label>
            <input asp-for="Name" class="border-1 border-gray-300 border-b-gray-900 border-b-2 h-10 w-full max-w-md px-5">
        </div>
        <div class="flex flex-row gap-4 justify-center">
            <button type="button" class="btn-secondary py-2 px-4 create-board-btn">Cancel</button>
            <button type="submit" class="btn-primary w-full py-2">Create</button>
        </div>
    </form>
</div>

