@using Jobby.Client.ViewModels.Job
@model JobDetailViewModel
@{
    ViewData["Title"] = $"{Model.Title} at {Model.Company}";
}

<section class="w-full max-w-md m-8 border-1 border-gray-900 h-max p-8 flex flex-col gap-y-4 bg-gray-50">
    <h1 class="text-2xl font-semibold">@Model.Title at @Model.Company</h1>
    <div class="flex flex-col">
        <button type="button" class="btn-secondary py-2 px-4 get-job-switch">Back To Board</button>
    </div>
</section>

