@using Jobby.Client.ViewModels.Board
@model UpdateBoardViewModel

<div class="w-full max-w-md m-8 border-1 border-gray-900 h-max p-8 flex flex-col gap-y-4 bg-gray-50">
    <h1 class="text-2xl font-semibold text-ellipsis overflow-hidden ... whitespace-nowrap">Update Board - @Model.Name</h1>
    <form asp-controller="Board" asp-action="Update" class="flex flex-col gap-6" method="post">
        <div class="flex flex-col gap-y-3">
            <label asp-for="Name" class="text-base"></label>
            <input asp-for="Name" class="border-1 border-gray-300 border-b-[#001534] border-b-2 h-10 w-full max-w-md px-5">
        </div>
        @Html.HiddenFor(model => model.BoardId)
        <div class="flex flex-row gap-4 justify-center">
            <button type="button" onclick='hideElement("update-board-parent")' class="btn-secondary py-2 px-4">Cancel</button>
            <button type="submit" class="btn-primary w-full py-2">Update</button>
        </div>
    </form>
</div>