@using Jobby.Client.ViewModels
@model ActivityListVM
@{
    Layout = "_Layout";
}

<section class="flex flex-col gap-y-6 w-full max-w-3xl justify-center relative p-5">
    <a asp-action="ViewBoard" asp-route-boardId="@Model.BoardId" class="btn-secondary py-2 px-8 w-max text-center z-10">Back To Board</a>
    <section class="flex flex-row">
        <div class="flex flex-col gap-y-2">
            <h1 class="text-xl font-medium">@Model.BoardName Board</h1>
            <h2>Activities</h2>
        </div>
    </section>
</section>