@using Jobby.Client.ViewModels.Job
@model JobDetailViewModel
@{
    ViewData["Title"] = $"{Model.Title} at {Model.Company}";
}

<section class="p-8 flex flex-col gap-y-8 relative h-full">
    <h1 class="text-2xl font-semibold">@Model.Title at @Model.Company</h1>
    <div class="flex flex-col">
        <a asp-action="ViewBoard" asp-route-boardId="@Model.BoardId" class="btn-secondary ml-auto py-2 text-sm px-4 w-full max-w-[16rem] text-center">Back To Board</a>
    </div>
</section>