<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="htmx-config" includeAspNetAntiforgeryToken="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Jobby keeps track of every detail about your job applications - notes, dates, tasks, job descriptions, salaries, locations, company data and more." />
    <title>@ViewData["Title"] - Jobby</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/icons.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="w-full flex justify-center">
        <nav class="flex items-center h-12 w-full max-w-8xl border-gray-900 lg:border-x-1 border-b-1 px-8 z-10">
            <ul class="flex flex-row gap-x-8 w-full">
                <li><a class="text-lg font-semibold" asp-controller="Home" asp-action="Index">Jobby</a></li>
                <li class="ml-auto"><a class="text-sm font-medium" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                <li><a class="text-sm font-medium" asp-controller="Auth" asp-action="Logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main role="main" class="w-full flex justify-center min-h-[calc(100vh_-_9rem)]">
        <div class="border-gray-900 lg:border-x-1 w-full max-w-8xl">
            @RenderBody()
        </div>
    </main>
    <footer class="w-full flex justify-center">
        <section class="w-full h-24 max-w-8xl border-gray-900 border-x-1 flex items-center gap-x-20 px-8">
            <div class="flex flex-col gap-y-2">
                <h1 class="text-xl font-semibold">Jobby</h1>
                <p class="text-sm text-gray-800 font-semibold">&copy; 2022</p>
            </div>
            <div class="flex flex-col gap-y-2">
                <h2 class="uppercase text-base font-semibold">Follow Us</h2>
                <ul class="flex flex-row gap-x-8">
                    <li><a class="text-lg font-semibold" title="Social link to Jobby's Github page" href="https://github.com/Nhollas/Jobby"><i alt="Github" class="bi bi-github"></i></a></li>
                    <li><a class="text-lg font-semibold" title="Social link to Nick Hollas LinkedIn profile" href="https://www.linkedin.com/in/nhollas"><i alt="LinkedIn" class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>
        </section>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/htmx.min.js"></script>
    <script src="~/js/_hyperscript.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
