@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --btn-color: #000;
    --heading-color: #000;
    --subheading-color: #000;
    --paragraph-color: black;
    --background-color: white; 
    /* ... */
  }
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1, p, button, label {
  color: var(--paragraph-color);
}

@layer base {
  :root {
    /* For rgb(255 115 179 / <alpha-value>) */
    --color-primary: white;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --background-color: black; 
  }
}
