@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --btn-color: #000;
    --heading-color: #000;
    --subheading-color: #000;
    --paragraph-color: black;
    --background-color: white; 
    /* ... */
  }
}

h1, p, button, label {
  color: var(--paragraph-color);
}

@layer base {
  :root {
    /* For rgb(255 115 179 / <alpha-value>) */
    --color-primary: white;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --background-color: black; 
  }
}

input[type="checkbox"] {
  @apply w-4 h-4 rounded-[3px] appearance-none m-0 p-0 text-blue-600 bg-white outline-[1.5px] border-0 outline outline-gray-600 cursor-pointer grid place-content-center;
}

input[type="checkbox"]::before {
  @apply content-[""] w-4 h-4 rounded-[4px] bg-main-blue scale-0 transition-transform ease-in-out duration-200;

  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  @apply scale-100;
}

.transform-custom {
  transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0) scaleX(var(--scale-x, 1)) scaleY(var(--scale-y, 1));
}

.dragOverlay {
  --scale: 1.05;
  --box-shadow: $box-shadow;
  --box-shadow-picked-up: $box-shadow-border,
    -1px 0 15px 0 rgba(34, 33, 81, 0.01),
    0px 15px 15px 0 rgba(34, 33, 81, 0.25);
  z-index: 999;
}
