@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<section class="flex flex-col w-full justify-center items-center">
    <div class="flex flex-col p-8 pt-16 gap-y-6 w-full max-w-md">
        <h1 class="text-3xl font-poppins font-semibold">Log In</h1>
        <p class="text-base font-base -mt-2 mb-4">Registration is free, set your account up to start using our services.</p>
        <form class="flex flex-col gap-6" method="post">
            <p class="flex flex-col gap-y-3">
                <label asp-for="Login.Username"></label>
                <input asp-for="Login.Username">
            </p>
            <p class="flex flex-col gap-y-3">
                <label asp-for="Login.Password"></label>
                <input asp-for="Login.Password">
            </p>
            <button type="submit" class="btn-primary py-2 rounded-md">Log In</button>
        </form>
        <div class="flex flex-row gap-2">
            <p class="text-base">Don't have an account?</p>
            <a asp-page="/Register" class="underline text-indigo-600 font-medium cursor-pointer text-base">Register Here</a>
        </div>
    </div>
</section>