@using Jobby.Client.ViewModels.Auth
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<section class="flex flex-col w-full justify-center items-center">
    <div class="w-full max-w-5xl flex md:flex-row flex-col items-center bg-main justify-center md:p-16 relative border-[1px] border-gray-200">
        <div class="flex flex-col px-8 py-24 gap-y-6 w-full max-w-md md:py-0 md:px-0">
            <h1 class="text-3xl font-poppins font-semibold">
                Register
            </h1>
            <p class="text-base font-base -mt-2 mb-4">Registration is free, set your account up to start using our services.</p>
            <form asp-action="Register" class="flex flex-col gap-6" method="post">
                <div class="flex flex-col gap-y-3">
                    <label asp-for="Username" class="text-base"></label>
                    <input asp-for="Username" class="border-1 border-gray-300 border-b-[#001534] border-b-2 h-10 w-full max-w-md px-5">
                </div>
                <div class="flex flex-col gap-y-3">
                    <label asp-for="Email" class="text-base"></label>
                    <input asp-for="Email" class="border-1 border-gray-300 border-b-[#001534] border-b-2 h-10 w-full max-w-md px-5">
                </div>
                <div class="flex flex-col gap-y-3">
                    <label asp-for="Password" class="text-base"></label>
                    <input asp-for="Password" class="border-1 border-gray-300 border-b-[#001534] border-b-2 h-10 w-full max-w-md px-5">
                </div>
                <button type="submit" class="font-link flex w-full max-w-sm cursor-pointer items-center justify-center py-3 font-semibold border-[1px] border-purple-600 bg-purple-100 hover:bg-purple-300 mt-4">Create Account</button>
            </form>
            <div class="flex flex-row gap-2">
                <p class="text-lg">Don't have an account?</p>
                <a asp-action="Register" asp-controller="Account" asp-area="User" class="underline text-indigo-600 font-medium cursor-pointer text-lg">Register Here</a>
            </div>
        </div>
    </div>
</section>