@using Jobby.Client.ViewModels.ActivityViewModels
@model ActivityDetailViewModel

<section class="h-full w-full flex justify-center relative">
    <div class="p-8 flex flex-col gap-y-4 w-full">
        <h1 class="text-xl xl:text-2xl font-semibold">@Model.Title</h1>
        <a asp-action="ViewJob" asp-route-boardId="@Model.BoardId" asp-route-jobId="@Model.JobId" class="btn-secondary ml-auto py-2 px-8 w-max text-center">Back To Job</a>
        <div class="flex flex-col border-1 border-gray-900 w-full">
            
        </div>
    </div>
</section>

